@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.post {
    transition: all .2s;

    &:hover {
        background-color: #fff;
    }

    .post-card {
        display: block;
        margin-bottom: 40px;


        @include mixins.mobile {
            border-bottom: 1px solid #CCC;
            display: block;
            margin-bottom: 2.25em;
            padding-bottom: 2.25em;
        }

        a {
            color: var(--c-gray--darker);
            text-decoration: none;
        }

        &--thumb {
            flex-shrink: 0;
            padding-right: 30px;
            width: 100%;
            border-radius: 8px;

            @media(max-width: variables.$tablet-width) {
                width: 100%;
                margin-bottom: 15px;
                padding-right: 0;
            }

            .aspect-ratio {
                // aspect-ratio: 16 / 9;
                overflow: hidden;
                position: relative;
                border-radius: 16px;

                &::before {
                    content: "";
                    padding-top: 56.25%;
                    float: left;
                }

                &::after {
                    clear: left;
                    content: " ";
                    display: table;
                }

                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top:  50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 16px;

                    @media(max-width: variables.$tablet-width){
                        min-width: 100%;
                    }
                }
            }
        }

        &--content {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            padding-right: 1.7rem;


            .list-terms {
                margin-top: 1rem;
                margin-bottom: 0.6rem;

                li {
                    a {
                        color: #D41F29;
                        font-family: 'Zilla Slab';
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 150%;
                        text-transform: uppercase;

                    }
                }
            }

            .entry-title {
                color: var(--wp--preset--color--vermelho-comite);
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: 700;
                line-height: 150%;
                margin-top: 0;
                margin-bottom: 0;
            }

            .entry-date {
                color: #666;
                font-family: 'Zilla Slab';
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
                margin-top: 0.6rem;
                margin-bottom: 1rem;
            }

            .entry-excerpt {
                color: #3E3E3F;
                font-family: 'Zilla Slab';
                font-size: 16px;
                font-style: italic;
                font-weight: 500;
                line-height: 150%;

                p {
                    margin-top: 5px;
                }
            }
        }
    }
}
