@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

nav.pagination.pagination {
	margin-bottom: 80px;

	.nav-links a,
	.nav-links .page-numbers.current {
		font-family: "Open Sans";
		font-size: 16px;
		line-height: 150%;
		text-align: center;
	}
	.nav-links .page-numbers {
		width: 32px;
		height: 32px;
		margin-right: 21px;
		padding: 0;

		&.current {
			color: #fff;
			border-color: var(--wp--preset--color--vermelho-comite);
			background-color: var(--wp--preset--color--vermelho-comite);
			border-radius: 4px;
		}
	}

	a {
		text-decoration: none;
	}

	.nav-links a.prev svg path,
	.nav-links a.next svg path,
	.nav-links a:visited {
		color: #000;
		border-color: #000;
	}
}
