html {
    font-size: var(--s-html);
}

body {
    font-family: $f_title !important;
}

h1 {
    font-size: 2.5rem;
    font-family: $f_title !important;

    @include mobile {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 2rem;
    font-family: $f_title !important;

    @include mobile {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: var(--s-h3);
    font-weight: 400;
    font-family: $f_title !important;


    @include tablet {
        font-size: 36px;
    }

    @include mobile {
        font-size: 32px;
    }

    @include small {
        font-size: 26px;
    }
}


h4 {
    /*font-size: 1rem;*/
    font-family: $f_title !important;
    font-size: var(--s-h4);

    @include mobile {
        font-size: 0.85rem;
    }
}

h5 {
    font-family: $f_title !important;
    font-size: var(--s-h5);
    line-height: calc(var(--s-h5) * 1.2);
}

h6 {
    font-family: $f_title !important;
    font-size: var(--s-h6);
    font-weight: 400;

    @include mobile {
        font-size: 16px;
    }
}

p {
    font-family: $f_title !important;
    font-size: 16px;
    line-height: 1.4;
    color: var(--c-gray--darker);

    &:not(.has-text-color) {
        color: var(--c-gray--darker);
    }
}

a{
    font-family: $f_title !important;

}
