.search-component {
	form#searchform div input.open-input[type="text"] {
		border: 1px solid #333;
	}

	@include mobile {
		display: none;
	}

	form {
		div {
			display: flex;
			justify-content: flex-end;

			.screen-reader-text {
				display: none;
			}

			input[type="submit"] {
				background-color: transparent;
				background-image: url($p_theme_assets+"/images/search.png");
				background-position: 0 center;
				background-repeat: no-repeat;
				background-size: 65%;
				border-radius: 50%;
				border: 0;
				text-indent: -9999px;
				width: 35px;
			}

			input[type="text"] {
				//border-radius: 20px;
				border: 0;
				border-bottom: 1px solid #333;

				padding: 10px 45px 10px 15px;
				transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
				width: 60px;
				background-color: #f5f5f5;

				&.open-input {
					width: 100%;
					border-radius: 20px;
					border-bottom: 0;
					margin-right: -35px;
				}

				&:focus {
					outline: 0;
				}
			}
		}
	}
}
