@import "./../1-settings/_s-variables";

@font-face {
    font-family: 'Garet';
    font-display: swap;
    font-weight: 500;
    src: url('#{$p_theme_assets}/fonts/Garet-Book.otf') format(truetype);
}

@font-face {
    font-family: 'Garet';
    font-display: swap;
    font-weight: 400;
    src: url('#{$p_theme_assets}/fonts/Garet-Book.ttf') format(truetype);
}

@font-face {
    font-family: 'Garet';
    font-display: swap;
    font-weight: 850;
    src: url('#{$p_theme_assets}/fonts/Garet-Heavy.otf') format(truetype);
}

@font-face {
    font-family: 'Garet';
    font-display: swap;
    font-weight: 700;
    src: url('#{$p_theme_assets}/fonts/Garet-Heavy.ttf') format(truetype);
}
