@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";
@import "./../3-components/fonts.scss";


header {
	&.main-header {
		position: sticky;
		left: 0%;
		top: 0;
		z-index: 999;
		width: 100%;
		transition: all 0.5s;
		background-color: var(--header-background-color);

		.logged-in & {
			top: 32px;

			&.scrolled {
				top: 32px;
			}

			@include mobile {
				top: 0;
			}
		}

		&.active {
			transition: all 0.5s;
			min-height: 100vh;

			@include small{
				min-height: 70vh;
			}
		}

		&.scrolled {
			transition: all 0.5s;
			top: 0;
		}

		.header-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 100px;

			.logo {
				@media (min-width: 1025px) and (max-width: 1199px) {
					max-width: 150px;
					min-height: auto;
				}

				img {
					height: auto;
					max-width: 100%;
				}
			}
		}
	}
	.header-content {
		button.toggle-menu {
			appearance: none;
			border: 0px;
			outline: none;
			background: none;
			position: relative;
			width: 32px;
			height: 32px;
			display: none;

			@media (max-width: $desktop-width) {
				display: block;
			}

			&:before,
			&:after {
				content: "";
				display: block;
				width: 21px;
				height: 2px;
				background-color: var(--c-gray--darker);
				position: absolute;
				top: 13px;
				transition: all 0.4s;
			}

			&:after {
				top: 19.3px;
			}

			&.active {
				justify-self: flex-end;
				&:before,
				&:after {
					background-color: var(--c-gray--darker);
				}
				&:before {
					top: 16px;
					transform: rotate(-45deg);
					transition: all 0.2s;
				}

				&:after {
					top: 16px;
					transform: rotate(45deg);
					transition: all 0.2s;
				}
			}
		}

		.menus {
			display: flex;
			margin-top: 6px;
			align-items: center;

			@media (max-width: $desktop-width) {
				display: none;
			}
			i.fa-angle-down,
			i.fa-angle-up {
				font-size: 15px;
				margin-left: 10px;

				&:not(.up) {
					&::before {
						content: url($p_theme_assets+"/images/arrow-down.svg") !important;
						transition: opacity 0.2s ease;

						@include tablet {
							opacity: 1;
						}
					}
				}

				&.up {
					&::before {
						content: url($p_theme_assets+"/images/arrow-up.svg") !important;
						opacity: 1;
						transition: opacity 0.2s ease;
					}
				}

				@include tablet {
					display: none;

				}
			}
			.primary-menu {
				margin-right: 50px;
				color: #3e3e3f;
				font-family:$f_title;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: capitalize;
				text-decoration: none;

				.fa,
				.fas {
					color: var(--c-gray--darker) !important;
					margin-right: 0;
					width: auto;
				}

				@media (max-width: $desktop-width) {
					margin-right: 0;
				}
				ul.menu {
					padding-left: 0;
					@media (min-width: 992px) {
						gap: 14px;
					}

					> li {
						color: #3e3e3f;
						font-family:$f_title;
						font-size: 16px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						text-transform: capitalize;

						a {
							text-decoration: none;
						}

						@media (min-width: 1025px) and (max-width: 1199px) {
							font-size: 1.6rem;
						}

						&:not(.menu-item-has-children) {
							@media (max-width: $desktop-width) {
								margin-bottom: 10px;
							}
						}

						&.menu-item-has-children {
							padding-right: 15px;

							@media (min-width: 1025px) and (max-width: 1199px) {
								padding-right: 0;
							}

							&:after {
								@media (max-width: $desktop-width) {
									display: none;
								}
							}
							.sub-menu {
								background-color: var(--header-background-color);
								border-left: 0px;
								padding: 10px 0px 10px 0px;
								box-shadow: 0px 3px 5px 0px rgba(#000000, 0.3);
								z-index: 5;

								@media (max-width: $desktop-width) {
									margin-top: 15px;
									padding-top: 0;
								}

								@media (max-width: $desktop-width) {
									box-shadow: none;
								}

								> li {
									background-color: var(--header-background-color);
									padding: 5px 15px 5px 15px;
									margin-right: 0;
									font-size: 80%;

									@media (max-width: $desktop-width) {
										background-color: transparent;
										border-left: 2px solid #035299;
									}

									a {
										font-weight: 400;

										@include desktop {
											display: block;
											width: 100%;
										}
									}
								}
							}
						}
						a {
							color: #333333;
						}
					}
				}

				@include mobile {
					margin-right: 0;
				}
			}
		}

		&.active {
			background-color: var(--header-background-color);
			display: grid;
			grid-template-columns: 164px 32px;
			grid-template-rows: 78px auto;
			grid-template-areas:
				"a b"
				"c c";
			.menus {
				display: flex;
				flex-direction: column;
				grid-area: c;

				.primary-menu {
					max-width: 197px;
					ul {
						flex-direction: column;
						margin-left: 0;
						padding-left: 0;

						li {
							font-size: 24px;
							line-height: 2;

							@media (max-width: $desktop-width) {
								font-size: 16px;
								line-height: 1.5;
							}
						}
					}

					ul.sub-menu {
						padding-left: 20px;
					}
				}
			}
		}

		@import "./../3-components/c-wpml-language-menu";
		@import "./../3-components/c-social-menu";
		@import "./../3-components/c-search";
		@extend .base-menu-component;
	}
}

#app {
	.breadcrumbs-column {
		margin: auto;
		padding: 0 15px;

		@media (min-width: 576px) {
			max-width: 540px;
		}

		@media (min-width: 768px) {
			max-width: 720px;
		}

		@media (min-width: 992px) {
			max-width: 960px;
		}

		@media (min-width: 1200px) {
			max-width: 1140px;
		}

		@media (min-width: 1400px) {
			max-width: 1320px;
		}

		.p-crumb {
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-family:$f_title;
			font-size: 16px;
			font-weight: 400;
			line-height: 150%;

			.home {
				text-decoration: none;
				span {
					color: #ed2439;
				}
			}

			a {
				color: #000000;
				text-decoration: none;
			}
		}
	}
}
