.pagination-numbers{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.page-numbers{
    border: 1px solid #979797;
    border-radius: 2px;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    float: left;
    margin-right: 10px;

    &.current{
        border-color: var(--wp--preset--color--vermelho-comite);
    }
}
