/* Estilos para o campo "titulo" */
.formulario-classe .titulo-input {
    display: -webkit-box;
    width: 770px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-family: $f_title;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.formulario-classe label.titulo-label {
    color: #282829;
}

/* Estilos para o campo "texto" */
.formulario-classe .texto-input {
    width: 770px;
}

.formulario-classe label.texto-label {
    color: #282830;
}

/* Estilos para o botão "Próximo" */
.formulario-classe .submit-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 64px;
    background: #ED2439;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.formulario-classe .submit-button:hover {
    background: #A61C2A;
}

/* Estilos para o texto das perguntas */
.formulario-classe .pergunta-texto {
    font-weight: 700;
}

.formulario-classe .texto-destaque {
    color: #ED2439;
    font-weight: 700;
}

/* Estilos para a caixa de respostas */
.formulario-classe .caixa-texto {
    width: 770px;
    padding: 16px;
    border-radius: 8px;
    border: 1.5px solid #DDD;
    color: #666666;
}

/* Estilos padrão para os botões de escolha */
.formulario-classe .botao-escolha {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 64px;
    background: #CCC;
    color: #CCCCCC;
    cursor: pointer;
    border: none;
}

/* Estilos para o botão de escolha "Sim" após ser selecionado */
.formulario-classe .botao-escolha-selecionado {
    display: inline-flex;
    background: #00A62D;
    color: #FFFFFF;
}

/* Estilos para a green box */
.formulario-classe .greenBox {
    width: 770px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: rgba(0, 166, 45, 0.42);
    color: #00A62D6B;
    font-weight: 700;
    line-height: 56px;
    padding: 0 16px;
    box-sizing: border-box;
}

/* Estilos para o campo "caixa-texto" */
.wpcf7-form-control-wrap.estado-municipio,
.wpcf7-form-control-wrap.nome-comite,
.wpcf7-form-control-wrap.link-midias-sociais,
.wpcf7-form-control-wrap.area-atuacao,
.wpcf7-form-control-wrap.movimento-identificado,
.wpcf7-form-control-wrap.nome-mandato,
.wpcf7-form-control-wrap.nome-contato,
.wpcf7-form-control-wrap.cpf-contato,
.wpcf7-form-control-wrap.email-contato,
.wpcf7-form-control-wrap.celular-contato {
    width: 770px;
    padding: 16px;
    border-radius: 8px;
    border: 1.5px solid #DDD;
    color: #666666;
}

/* Estilos para os botões de escolha */
.wpcf7-form-control-wrap.botao-escolha,
.wpcf7-form-control-wrap.vinculado-mandato {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 64px;
    background: #CCC;
    color: #CCCCCC;
    cursor: pointer;
    border: none;
}

/* Estilos para o botão de escolha "Sim" após ser selecionado */
.wpcf7-form-control-wrap.botao-escolha:checked,
.wpcf7-form-control-wrap.vinculado-mandato:checked {
    background: #00A62D;
    color: #FFFFFF;
}
