$p_theme_assets: "/wp-content/themes/fpa-comites-populares/assets";

@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";

.timeline-container {
    background-color: #fbf6c0;
    padding-top: 5px;
    width: 100vw;
    left: 50%;
    position: relative;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 100%;
        border-top: solid 3px var(--c-primary);
        margin-top: 162px;
        position: absolute;
        z-index: 1;

        @media (max-width: $tablet-width) {
            margin-top: 134px;
        }
    }

    section {
        max-width: 1270px;
        margin: 0 auto 40px;
        overflow: hidden;

        @media (max-width: $desktop-xlarge-width) {
            max-width: 1140px;
        }

        @media (max-width: $desktop-large-width) {
            max-width: 940px;
        }

        @media (max-width: $desktop-width) {
            max-width: 750px;
            padding-left: 15px;
            padding-right: 15px;
        }

        h2.title-with-graphics {
            font-size: 40px;

            @media (max-width: $tablet-width) {
                font-size: 30px;
            }
        }
    }

    .dates {
        list-style: none;
        flex-direction: row;
        padding-left: 0;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        position: relative;
        z-index: 2;

        li {
            color: var(--c-gray--darker);
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin: -11px 20px 0 20px;
            text-align: center;
            text-transform: capitalize;

            @media (max-width: 767px) {
                margin: -11px 5px 0 5px;
            }

            span {
                display: block;
                text-align: center;
                height: 15px;
                overflow: hidden;
            }

            &:before {
                background-image: url($p_theme_assets+"/images/marker.png");
                background-repeat: no-repeat;
                background-size: 100%;
                content: "";
                display: flex;
                display: inline-block;
                height: 23px;
                margin: 0 auto;
                width: 43px;
            }
        }
    }

    .item-slider {
        display: flex;
        list-style: none;

        &.active {
            display: block !important;
        }
    }

    .tns-outer {
        list-style: none;
        display: none;

        &.active {
            display: block !important;
            position: relative;
        }

        .tns-ovh {
            margin-left: -10px;
            margin-right: 30px;
        }
    }

    .items {
        max-width: 1300px;
        margin: 0 auto;
        padding: 60px 0 48px 0;
        overflow: hidden;

        ul li {
            padding: 30px;
            text-align: center;

            a {
                &:hover {
                    text-decoration: none;
                }
            }

            .thumb {
                display: block;
                height: 180px;
                width: 100%;
                overflow: hidden;
                position: relative;
                text-align: left;

                img {
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    width: 100%;
                }
            }
        }
        .title {
            display: block;

            h3 {
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
                text-align: center;
            }
        }
    }

    .tns-nav,
    .tns-liveregion {
        display: none;
    }

    .tns-controls {
        button {
            position: absolute;
            top: 50%;
            z-index: 99;
            background: transparent;
            background-repeat: repeat;
            background-image: none;
            border: none;
            height: 50px;
            width: 30px;
            background-repeat: no-repeat;
            background-size: auto 40px;
            background-position: center;

            &:first-child {
                left: 0;
                background-image: url($p_theme_assets+"/images/arrow-left.svg");
            }
            &:last-child {
                right: 0;
                background-image: url($p_theme_assets+"/images/arrow-right.svg");
            }
            span {
                font-size: 45px;
                color: var(--primary);
            }
        }
    }
}
