@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";
@import "./../3-components/fonts.scss";

.error404 {

    .error-404{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -160px;

        .title-404{
            height: 300px;
        }

        h1 {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;
            font-size: 300px;
            margin: 100px 0 20px 0;
            overflow: hidden;
            color: var(--wp--preset--color--vermelho-comite);
            text-overflow: ellipsis;
            font-family: $f_title;
            font-size: 48px;
            font-style: normal;
            font-weight: 850;
            line-height: normal;
            text-transform  : capitalize;

            .num {
                line-height: 300px;
            }
        }

        p, a {
            z-index: 1;
        }

        a{
            overflow: hidden;
            color: var(--wp--preset--color--vermelho-comite);
            text-align: center;
            text-overflow: ellipsis;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 72px;
            text-decoration: none;

            &:hover{
                text-decoration: none;
                color: var(--wp--preset--color--vermelho-comite);
            }
        }

        .excerpt-404{
            margin-top: 24px;
            color: var(--Low-Pure, #222);
            text-align: center;
            font-family: Zilla Slab;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 570px;
            width: 100%;
        }
    }


    .breadcrumbs-column{
        display: none;
    }
}
