@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";

// Path assets
$p_theme_assets: '/wp-content/themes/fpa-comites-populares/assets';

.post-type-archive-editais {
    header.c-title {
        background-image: url($p_theme_assets + '/images/header/header-editais.png');
    }
}
