// Path assets
$p_theme_assets: '/wp-content/themes/fpa-comites-populares/assets';

@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.post-type-archive-perguntas_frequentes {
    header.c-title {
        background-color: var(--c-yellow-primary);
        background-image: url($p_theme_assets + '/images/header/header-perguntas-frequentes.png');
        background-position: center 20px;

        &::before {
            display: none;
        }

        .entry-title {
            color: var(--c-primary);
            font-size: 64px;
            margin-bottom: 30px;
            padding-bottom: 0;

            @include tablet {
                font-size: 54px;
            }

            @include mobile {
                font-size: 30px;
            }
        }

        .searchform {
            margin-bottom: 50px;
            text-align: center;
            position: relative;

            input[type="text"] {
                background-color: white;
                background-image: url($p_theme_assets+'/images/search-icon-blue.svg');
                background-position: right center;
                background-repeat: no-repeat;
                background-size: 34px;
                border: 2px solid var(--c-primary);
                color: var(--c-gray--darker);
                outline: none;
                padding: 13px 45px 13px 15px;
                width: 400px;

                &:focus {
                    outline: none;
                }

                @include mobile {
                    max-width: 300px;
                    width: 80%;
                }
            }

            .filter-clear {
                color: var(--c-primary);
                cursor: pointer;
                display: none;
                font-size: 75%;
                padding-left: 10px;
                position: absolute;
                text-align: center;
                top: 60px;
                width: 100%;
            }
        }
    }

    .intro {
        font-size: 24px;
        line-height: 29px;
    }

    .content-projects {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -30px;
        margin-right: -30px;

        @include tablet {
            margin-left: -20px;
            margin-right: -20px;
        }

        @include mobile {
            justify-content: space-around;
        }

        @include small {
            align-items: center;
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }

        .each-project {
            &.active {
                a {
                    .title {
                        background-color: var(--c-yellow-primary);
                    }
                }
            }

            a {
                display: flex;
                flex-basis: 180px;
                flex-direction: column;
                flex-grow: 1;
                justify-content: flex-end;
                max-width: 240px;
                padding: 20px;
                text-align: center;

                @include tablet {
                    max-width: 180px;
                }

                @include small {
                    max-width: 240px;
                }

                &:hover {
                    text-decoration: none;
                }

                .title {
                    border-radius: 40px;
                    color: var(--c-primary);
                    font-size: 18px;
                    margin-top: 10px;
                    padding: 8px;

                    @include tablet {
                        font-size: 16px;
                    }

                    @include small {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .content-perguntas-frequentes{

        .content-subject{
            color: var(--c-primary);
        }

        .each-subject { // ul
            padding-inline-start: 0;

            li {
                border: 1px solid #DDDDDD;
                cursor: pointer;
                list-style: none;
                margin-bottom: 10px;
                margin-bottom: 10px;
                margin-right: 30px;
                padding: 20px 20px 15px;
                width: 100%;
                .content{display: none;}

                .title {
                    position: relative;

                    &::after {
                        background-image: url($p_theme_assets+'/images/arrow-up-perguntas-frequentes.png');
                        background-position: center 15px;
                        background-repeat: no-repeat;
                        background-size: 18px;
                        content: '';
                        height: 30px;
                        overflow: hidden;
                        position: absolute;
                        right: 0;
                        top: 0;
                        transform-origin: center;
                        transform: rotate(180deg);
                        width: 30px;

                        @at-root .content-perguntas-frequentes .each-subject li.active {
                            background-color: var(--c-yellow-primary);

                            .title {
                                &::after{
                                    background-position: center 3px;
                                    transform-origin: center;
                                    transform: rotate(0);
                                }
                            }
                            .content{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .not-found-perguntas-frequentes {
        h2 {
            color: var(--c-primary);
            font-weight: 500;
        }

        p {
            a {
                color: var(--c-primary);
            }
        }
    }
}
