@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
@use "./../7-parts/p-filter-posts";

.post-type-archive-comite{
	.content{
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		border-top: none !important;
		grid-template-columns: 1fr 2fr !important;

		@media (max-width: 1322px){
			grid-template-columns: 2fr 2fr !important;
		}


		.cards-comite{
			display: flex !important;
			flex-direction: column;
			gap: 8px;
			max-width: 430px;
			width: 100%;
			height: auto;
			padding: 48px 21px 32px 68px;
			background-color: #f5f5f5;

			.search-form{
				.input-resultado-pesquisa{

					input[type="search"]{
						border-radius: 80px;
						border: 1px solid var(--High-dark, #CCC);
						background: #FFF;
						box-shadow: 2px 6px 8px -2px rgba(34, 34, 34, 0.16);
						height: auto;
						padding: 16px 24px;
						max-width: 249px;
						width: 100%;
						color: #000;
						font-family: "Zilla Slab";
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						margin-bottom: 8px;

						@media (max-width: 1350px){
							max-width: 230px;
						}
					}

					input[type="submit"]{
						background-color: transparent;
						background-image: url(/wp-content/themes/fpa-comites-populares/assets/images/search-comite.svg);
						background-position: 0 center;
						background-repeat: no-repeat;
						background-size: 65%;
						border-radius: 50%;
						border: 0;
						text-indent: -9999px;
						width: 24px;
						height: 24px;
						position: absolute;
						left: 335px;
						top: 64px;
					}

				}

			}

			.height-content-comite{
				height: 370px;
    			overflow-y: scroll;

				.post{
					border-radius: 8px;
					border: 1px solid var(--High-dark, #CCC);
					background: #FFF;
					box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.16);
					max-width: 299px;
					width: 100%;
					height: auto;
					padding: 12px 16px;
					margin-bottom: 8px;

					&-card{
						margin-bottom: 0;
						&--content{
							padding-right: 0;
						}
					}

					.entry-title{
						overflow: hidden;
						color: var(--Secondary-dark, #282829);
						text-overflow: ellipsis;
						font-family: "Open Sans";
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%;
					}

					.meta-comite{
						display: flex;
						gap: 8px;
						margin-top: 8px;

						.location {
							display: flex;
							overflow: hidden;
							color: var(--Low-light, #666);
							text-overflow: ellipsis;
							font-family: "Zilla Slab";
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%;
						}

						.cidade, .estado, .pais{
							display: contents;
						}

						.area-atuacao{
							color: var(--Primary-dark, #8E1521);
							font-family: "Zilla Slab";
							font-size: 14px;
							font-style: italic;
							font-weight: 500;
							line-height: 150%;
							text-overflow: ellipsis;
						}
					}
				}
			}

		}

	}

	.breadcrumbs-column{
		display: none;
	}

	.mapa {

		.legend-container {
			display: none;
		}

		.mapboxgl-popup {

			&.mapboxgl-popup-anchor-bottom {
				margin-top: -13px !important;
			}

			&.mapboxgl-popup-anchor-top {
				margin-top: 13px !important;
			}
		}

		.comite-popup {
			font-family: 'Open Sans';
			padding: 20px 10px 10px;
			width: 100%;

			h5 {
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
				margin: 0 0 5px;
			}

			&__area {
				color: var(--Primary-dark, #8E1521);
				font-family: "Zilla Slab";
				font-size: 16px;
				font-weight: 500;
				line-height: 150%;
				text-overflow: ellipsis;
			}

			&__contact {
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;

				a {
					color: inherit;
					text-decoration: none;
				}
			}

			&__location {
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}

		.spider-leg-container {

			.spider-leg-pin {
				height: 26px;
				transform: translateX(-13px) translateY(-13px);
				width: 26px;
			}
		}
	}
}
