@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
@use "./../7-parts/p-filter-posts";
@use "./../3-components/fonts.scss";

.index-wrapper {
	.header-and-footer-archive {
		padding: 0 15px;
		margin: auto;

		@media (min-width: 576px) {
			max-width: 100%;
		}

		h2 {
			overflow: hidden;
			color: var(--wp--preset--color--vermelho-comite);
			text-overflow: ellipsis;
			font-family: variables.$f_title;
			font-size: 48px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin: 10px 0;
		}

		p {
			color: var(--Low-Pure, #222);
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%; /* 30px */
		}
	}

	main {
		width: 100%;

		.content {
			padding-bottom: 60px;
			padding-top: 40px;
			border-top: 2px solid #666;
			display: grid;
			width: 100%;
			grid-template-columns: 1fr 1fr 1fr;

			@media (max-width: 768px) {
				grid-template-columns: 1fr 1fr;
				gap: 25px;
			}

			@include mixins.small {
				grid-template-columns: 1fr;
			}
		}
	}

	@import "./../7-parts/p-content-post";

	@import "./../7-parts/p-pagination";
}

.post-type-archive-petition{
	main{
		.content{
			grid-template-columns: 5fr 9fr;

			@include mixins.small{
				display: flex;
				flex-direction: column;
			}

			@include mixins.mobile{
				display: flex;
				flex-direction: column;
			}

			.post{
				max-width: 370px;
				width: 100%;

				&-card{
					&--content{
						.entry-post-type{
							color: #D41F29;
							font-family: variables.$f_title;
							font-size: 14px;
							font-style: normal;
							font-weight: 700;
							line-height: 150%;
							text-transform: uppercase;
							margin-top: 16px;
							margin-bottom: 16px;
						}
					}
				}
			}
		}

		.sidebar-archive-petition{
			.petition-widgets{
				position: absolute;
				top: 43px;
				right: 14px;

				@media (max-width: 1199px){
					right: -105px;
				}

				@include mixins.mobile{
					position: inherit;
				}

				@include mixins.small{
					position: inherit;
				}

				.column-sidebar{
					display: flex;
					flex-direction: column;
					max-width: 370px;
					width: 100%;

					h2{
						color: var(--wp--preset--color--vermelho-comite);
						font-family: variables.$f_title;
						font-size: 32px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					p{
						color: var(--Low-dark, #111);
						font-family: variables.$f_title;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 150%;
					}

					.solicite{
						border-radius: 12px;
						border: 1px solid var(--High-dark, #CCC);
						background: var(--High-Pure, #FFF);
						padding: 64px 20px 64px 20px;
						height: 377px;
					}

					.ultimas{
						border-radius: 12px;
						border: 1px solid var(--High-dark, #CCC);
						background: var(--High-Pure, #FFF);
						padding: 64px 20px 64px 20px;

						.wp-block-latest-posts{

							.term-comite, .term-sem-categoria{
								display: none;
							}

							.wp-block-latest-posts__post-title{
								overflow: hidden;
								color: var(--Low-dark, #111);
								text-overflow: ellipsis;
								font-family: variables.$f_title;
								font-size: 20px;
								font-style: normal;
								font-weight: 700;
								line-height: 150%;
								text-decoration: none;
							}

							.wp-block-latest-posts__post-date{
								overflow: hidden;
								color: var(--Low-light, #666);
								text-overflow: ellipsis;
								font-family: variables.$f_title;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 150%;
							}

							.wp-block-latest-posts__post-excerpt{
								color: var(--Secondary-Pure, #3E3E3F);
								font-family: variables.$f_title;
								font-size: 16px;
								font-style: italic;
								font-weight: 500;
								line-height: 150%;
							}
						}
					}

					.wp-block-buttons{

						.wp-block-button{
							display: flex;
							max-width: 270px;
							width: 100%;
							justify-content: center;

							a{
								border-radius: 64px;
								background: #00A62D;
								color: var(--High-Pure, #FFF);
								font-family: variables.$f_title;
								font-size: 18px;
								font-style: normal;
								font-weight: 700;
								line-height: 120%;
							}
						}
					}
				}
			}
		}
	}
}

.post-type-archive-mobilizacao,
.post-type-archive-inspiracao {
	#app {
		.index-wrapper {
			.container {
				.row {
					.header-and-footer-archive {
						padding: 0 15px;
						margin-bottom: 50px;

						@media (min-width: 576px) {
							max-width: 100%;
						}

						h2 {
							overflow: hidden;
							color: var(--wp--preset--color--vermelho-comite);
							text-overflow: ellipsis;
							font-family: variables.$f_title;
							font-size: 48px;
							font-style: normal;
							line-height: normal;

						}

						p {
							color: var(--Low-Pure, #222);
							font-size: 20px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%; /* 30px */
						}
					}
					.content {
						padding-bottom: 60px;
						padding-top: 40px;
						border-top: 2px solid #666;
						display: grid;
						width: 100%;
						grid-template-columns: 1fr 1fr 1fr;

						@media (max-width: 768px) {
							grid-template-columns: 1fr 1fr;
							gap: 25px;
						}

						@include mixins.small {
							grid-template-columns: 1fr;
						}
					}
				}
			}

			nav.pagination.pagination {
				.nav-links span.current {
					color: #fff;
					border-color: var(--wp--preset--color--vermelho-comite) !important;
					background-color:var(--wp--preset--color--vermelho-comite) !important;
					border-radius: 4px;
				}

				a {
					text-decoration: none;
				}

				.nav-links a.prev svg path,
				.nav-links a.next svg path,
				.nav-links a:visited {
					color: #000;
					border-color: #000;
				}
			}
		}
	}
	@import "./../7-parts/p-content-post";
}
