@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
@use "./../3-components/fonts.scss";

body {
	&.page-ferramentas-de-luta {
		#app {
			padding-bottom: 80px;

			a {
				height: auto;
			}

			.rua {
				.wp-block-buttons {
					margin-bottom: 45px;
				}
			}
			.rede {
				.wp-block-buttons {
					margin-top: -35px;
					margin-bottom: 65px;
				}
			}
		}
		h2 {
			font-family: variables.$f_title;
			color: var(--wp--preset--color--vermelho-comite);
			text-align: left;
			font-size: 2rem;
		}
		.post-share {
			display: none;
		}
		.titulo-rede {
			text-align: center;
		}
		.filtros {
			border-bottom: 2px solid #666;
			flex-wrap: nowrap !important;

			h2 {
				font-family: variables.$f_title;
				text-align: center;
				border-bottom: 8px solid #8e1521;
				font-size: 1.5rem;
				padding-bottom: 10px;
				margin-bottom: -2px;

				img {
					width: 38px !important;
				}

				@media (min-width: 576px) {
					font-size: 2rem;

					img {
						width: 48px !important;
					}
				}
			}
		}

		.wp-block-button {
			a {
				border-radius: 64px;
				border: 3px solid var(--wp--preset--color--vermelho-comite);
				background-color: #fff;
				padding: 12px 24px;
				color: var(--wp--preset--color--vermelho-comite);
				font-family: variables.$f_title;
				font-size: 18px;
				font-weight: 700;
				line-height: 120%;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.wp-block-post-title {
			text-align: center;
			font-family: variables.$f_title;
			font-size: 13px;
			font-weight: 700;
			line-height: 150%;
			text-transform: uppercase;
			margin-top: -5px;
			color: #000;
			@media (max-width: 1199px) {
				margin-top: -50px;
			}
			@media (max-width: 991px) {
				margin-top: -130px;
				font-size: 14px;
				padding: 12px 18px;
			}
			@media (max-width: 767px) {
				margin-top: -25px;
				font-size: 18px;
				padding: 16px 24px;
			}
			a {
				color: #282829;
				text-decoration: none;
			}
		}

		.material-rua,
		.material-rede {
			ul {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 30px;
				@media (max-width: 767px) {
					grid-template-columns: 1fr 1fr;
				}
			}

			.wp-block-columns {
				max-width: 100%;
				display: grid;

				figure {
					height: 270px;
                    margin-bottom: 8px;

					@media (min-width: 768px) {
						height: 270px;
					}

                    @media (min-width: 1400px) {
                        width: 270px;
                    }
					img{
						height: 270px;
					}
				}

				h3 {
					border-radius: 64px;
					background-color: var(--wp--preset--color--laranja-comite);
					color: var(--wp--preset--color--high-pure);
					font-family: variables.$f_title;
					font-size: 18px;
					font-weight: 700;
					line-height: 120%;
					text-align: center;
					padding: 16px 24px;
					max-width: 270px;
					margin: auto;
					cursor: pointer;

					@media (max-width: 1199px) {
						margin-top: -50px;
					}
					@media (max-width: 991px) {
						margin-top: -110px;
						font-size: 14px;
						padding: 12px 18px;
					}
					@media (max-width: 767px) {
						margin-top: 0;
						font-size: 18px;
						padding: 16px 24px;
					}
				}
			}
		}
		.material-rua{
			.wp-block-post-title{
				display: none;
			}
		}
		.modal {
			display: none;
			position: fixed;
			z-index: 9999;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(102, 102, 102, 0.70);
		}
		.modal-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fefefe;
			padding: 20px;
			text-align: center;
			display: flex;
			flex-direction: column;
			border-radius: 12px;

		}

		#modal-title{
			color: var(--wp--preset--color--vermelho-comite);
			font-family: variables.$f_title;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: left;
			margin-bottom: 10px;
			margin-top: 0;
			display: flex;
			max-width: 330px;
			width: 100%;
			flex-wrap: wrap;
		}

		#modal-image{
			margin-bottom: 25px;
			margin-top: 0;
		}

		#modal-btn{
			border-radius: 64px;
			background-color: var(--wp--preset--color--laranja-comite);
			color: var(--High-Pure, #fff);
			font-family: variables.$f_title;
			font-size: 18px;
			font-weight: 700;
			line-height: 120%;
			text-align: center;
			padding: 16px 24px;
			width: 90%;
			cursor: pointer;

			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
		}

		// palavra "Compartilhe e div de links das redes escondidos"

		p{
			display: none;
			// font-family: 'Open Sans';
			// font-size: 12px;
			// text-align: center;
			// color: #000;
		}

		.social-menu{
			display: none;
			// display: flex;
			// max-width: 80%;
			// justify-content: space-around;
		}

		.close {
			color: #aaa;
			text-align: right;
			font-size: 28px;
			font-weight: bold;
		}
		.hacklab-post-meta-block{
			display: none;
		}
	}
}
