@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";
@import "./../3-components/fonts.scss";

.home {
	#app {
		.breadcrumbs-column {
			display: none;
		}
		.index-wrapper {
			.container {
				.row {
					.content {
						> h2 {
							display: none;
						}

						.post-share {
							display: none;
						}

						.home-topo {
							padding: 0;
							.wp-block-cover__inner-container {
								display: flex;
								justify-content: space-around;
								height: 474px;
								background: linear-gradient(
									180deg,
									#DF5C0F 0%,
									#BD2106 100%
								) !important;

								@include small{
									height: fit-content;
								}

								@include mobile{
									height: fit-content;
								}

								.wp-block-columns {
									gap: 52px;
									padding-left: 135px;
									margin: 0 !important;

									@media (min-width: 1420px) {
										padding-left: 296px;
									}

									@media (min-width: 1919px) {
										padding-left: 418px;
									}

									@include small {
										padding-left: 39px;
										padding-right: 39px;
									}

									h2 {
										color: var(--High-Pure, #fff);
										font-family: $f_title;
										font-size: 48px;
										font-style: normal;
										font-weight: 700;
										line-height: 120%;
										max-width: 100%;
									}

									p {
										max-width: 470px;
										width: 100%;
										font-weight: 600;
										font-family: $f_title;
										line-height: 150%;
									}

									.wp-block-buttons {
										margin-bottom: 32px;

										@media (max-width: $tablet-width) {
											justify-content: center;
										}

										.wp-block-button {
											max-width: 204px;
											width: 100%;
											height: 54px;

											a {
												color: var(--Low-dark, #111);
												font-family: $f_title;
												font-style: normal;
												font-weight: 700;
												line-height: 120%;
												padding: 16px 24px 16px 24px;
											}
										}
									}
								}
								.coluna-imagem {
									background-image: url($p_theme_assets+"/images/banner-home.png");
									background-repeat: no-repeat;

									@include small {
										// background-image: url($p_theme_assets+"/images/capa_site_mobile.png");
									}

									@include mobile {
										// background-image: url($p_theme_assets+"/images/capa_site_mobile.png");
									}

									@media (min-width: 1919px) {
										max-width: inherit;
										width: inherit;
										position: relative;
										left: 76px;
										background-size: 65%;
									}
								}
							}
						}

						.cover-peticao{

							h2{
								color: var(--wp--preset--color--low-dark);
								font-family: $f_title;
								font-size: 2rem;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
							}

							.subtitle-peticao{
								color: var(--wp--preset--color--low-dark);
								font-family: $f_title;
								font-size: 11.067px;
								font-style: normal;
								font-weight: 400;
								line-height: 150%;
							}

							h3{
								color: var(--wp--preset--color--vermelho-comite);
								font-family: $f_title;
								font-size: 4rem;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
								margin: 0;
							}

							p{
								color: var(--Low-dark, #111);
								font-family: $f_title;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 150%;
							}

							.wp-block-buttons {
								.wp-block-button {
									max-width: 270px;
									width: 100%;
									height: 54px;
									@include small{
										display: flex;
										justify-content: center;
										align-items: center;
									}
									a {
										color: var(--wp--preset--color--low-pure);
										font-family: $f_title;
										font-size: 1.125rem;
										font-style: normal;
										font-weight: 700;
										line-height: 120%;
										background-color: #00a62d;
									}
								}
							}
						}

						.cover-azul {
							border-radius: 32px;
							max-width: 1170px;
							width: 100%;
							margin-right: auto;
							margin-left: auto;
							border-radius: 32px;

							figure {
								img {
									max-width: 302px;
									width: 100%;
									height: 167px;
								}
							}

							.wp-block-cover__background {
								background: linear-gradient(
									180deg,
									#BD2106 0%,
									#8F1601 100%
								) !important;
							}

							.taxonomy-category {
								a {
									margin-top: 16px;
									font-family: $f_title;
									font-size: 14px;
									font-style: normal;
									font-weight: 700;
									line-height: 150%;
									text-transform: uppercase;
									color: #fff;
									text-decoration: none;
								}
							}

							h2 {
								position: relative;
								top: 1px;
								overflow: hidden;
								text-overflow: ellipsis;
								font-family: $f_title;
								font-size: 20px;
								font-style: normal;
								font-weight: 700;
								line-height: 150%; /* 30px */

								a{
									color: #fff;
    								text-decoration: none;
								}
							}

							h3 {
								overflow: hidden;
								text-overflow: ellipsis;
								font-family: $f_title;
								font-size: 32px;
								font-style: normal;
								font-weight: 700;
								line-height: 120%;
							}

							h4 {
								font-family: $f_title;
								font-size: 16px;
								font-style: normal;
								font-weight: 700;
								line-height: 150%; /* 24px */
								text-transform: uppercase;
							}

							.wp-block-columns {
								justify-content: center;
								gap: 32px;

								img {
									border-radius: 12px;
								}
							}

							.wp-block-buttons {
								.wp-block-button {
									max-width: 151px;
									width: 100%;
									border: 3px solid #fff;
									border-radius: 32px;
									background: transparent;

									a {
										background-color: transparent !important;
										color: var(--High-Pure, #fff);
										font-family:$f_title;
										font-style: normal;
										font-weight: 700;
										line-height: 120%;
										padding: 16px 24px 16px 24px;
									}
								}
							}
						}

						.noticias-comites {
							@media (max-width: 1366px) {
								max-width: 1170px;
								width: 100%;
								margin-right: auto;
								margin-left: auto;
							}

							.wp-block-cover__inner-container .wp-block-columns {
								gap: 29px;
							}

							.colunas-loops {
								.wp-block-column {
									flex-basis: 200px;
								}

								.coluna1 {
									.wp-block-query {
										figure {
											max-width: 270px;
											width: 100%;
											height: auto;
											object-fit: cover;

											img {
												border-radius: 12px;
											}
										}

										.taxonomy-category {
											margin-top: 13px;
											a {
												color: var(--wp--preset--color--vermelho-comite);
												font-family: $f_title;
												font-size: 14px;
												font-style: normal;
												font-weight: 700;
												line-height: 150%;
												text-transform: uppercase;
												text-decoration: none;
											}
										}

										h3 {
											margin: 0;
											height: fit-content;

											> a {
												margin-top: 13px;
												overflow: hidden;
												color: var(--Secondary-dark, #282829);
												text-overflow: ellipsis;
												font-family: $f_title;
												font-size: 16px;
												font-style: normal;
												font-weight: 700;
												line-height: 150%; /* 24px */
												text-decoration: none;
												position: relative;

												@media (min-width: 992px) {
													top: -10px;
												}

												@include small {
													top: inherit;
												}
											}
										}
									}
								}

								.coluna-destaque {
									figure {
										max-width: 270px;

										@media (min-width: 768px) {
											max-width: 570px;
											width: 100%;

											img {
												max-width: 570px;
												width: 100%;
												height: 321px;
												border-radius: 12px;
											}
										}
									}

									.taxonomy-category {
										margin-top: 13px;
										a {
											color: var(--wp--preset--color--vermelho-comite);
											font-family: $f_title;
											font-size: 14px;
											font-style: normal;
											font-weight: 700;
											line-height: 150%;
											text-transform: uppercase;
											text-decoration: none;
										}
									}

									h2 {
										a {
											color: #282829 !important;
											font-family: $f_title;
											font-size: 24px !important;
											font-style: normal;
											font-weight: 700;
											line-height: 120%;
											text-decoration: none;
										}
									}

									.wp-block-post-excerpt {
										color: #666;
										font-family: $f_title;
										font-size: 16px;
										font-style: italic;
										font-weight: 500;
										line-height: 150%;
										max-width: 570px;
										width: 100%;

										p {
											color: #666;
										}
									}

									.wp-block-post-date {
										overflow: hidden;
										color: #666;
										text-overflow: ellipsis;
										font-family: $f_title;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%;
									}
								}

								.right-column {
									display: flex;

									.taxonomy-category {
										a {
											color: var(--wp--preset--color--vermelho-comite);
											font-family: $f_title;
											font-size: 14px;
											font-style: normal;
											font-weight: 700;
											line-height: 150%;
											text-transform: uppercase;
											text-decoration: none;
										}
									}

									h3 {
										margin: 0;
										display: flex;
										a {
											overflow: hidden;
											color: var(--Secondary-dark, #282829);
											text-overflow: ellipsis;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: 150%;
											text-decoration: none;
										}
									}

									.wp-block-post-date {
										overflow: hidden;
										color: var(--Low-light, #666);
										text-overflow: ellipsis;
										font-family: $f_title;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%;
										margin-bottom: 16px;
									}
								}
							}
						}

						.trabalho-base {
							background-color: #f5f5f5;
							h4 {
								color: var(--wp--preset--color--vermelho-comite);
								text-align: center;
								font-family: Zilla Slab;
								font-size: 16px;
								font-style: normal;
								font-weight: 700;
								line-height: 150%;
								text-transform: uppercase;
							}

							h2 {
								overflow: hidden;
								color: #111;
								text-overflow: ellipsis;
								font-family: $f_title;
								font-size: 32px;
								font-style: normal;
								font-weight: 700;
								line-height: 120%; /* 38.4px */
							}

							.ferramentas-de-luta {
								gap: 30px;

								h2 {
									a {
										text-decoration: none;
									}
								}

								.colunas-ferramentas {
									border-radius: 12px;
									background: var(--wp--preset--color--laranja-comite);
									height: 391px;
									padding-top: 40px;
									padding-bottom: 40px;
								}

								p {
									padding-left: 15px;
									padding-right: 15px;
									color: var(--High-Pure, #fff);
									text-align: center;
									font-family: $f_title;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: 150%; /* 24px */
									text-align: justify;

									a {
										text-decoration: none;
									}
								}
							}
						}

						.cover-mapa{
							h4{
								color: #FFF;
								font-family: $f_title;
								font-size: 16px;
								font-style: normal;
								font-weight: 700;
								line-height: 150%;
								text-transform: uppercase;
							}

							h3{
								color: #FFF;
								font-family: $f_title;
								font-size: 32px !important;
								font-style: normal;
								font-weight: 700;
								line-height: 120%;
								max-width: 266px;
								width: 100%;
							}

							p{
								color: #FFF;
								font-family: $f_title;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: 120%;
								max-width: 270px;
								width: 100%;
							}

							.wp-block-button{
								max-width: 208px;
								width: 100%;

								a{
									color: var(--Low-dark, #111);
									font-family: $f_title;
									font-style: normal;
									font-weight: 700;
									line-height: 120%;
									max-width: 208px;
									width: 100%;
								}
							}
						}

						.cover-vermelho {
							border: 1px solid #ed2439;
							border-radius: 32px;

							h3 {
								color: #fff;
								text-align: center;
								font-family: $f_title;
								font-size: 32px !important;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
							}

							p {
								color: var(--High-Pure, #fff);
								text-align: center;
								font-family: $f_title;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: 150%;
								max-width: 500px;
								width: 100%;
								margin-left: auto;
								margin-right: auto;
							}

							.wp-block-buttons {
								.wp-block-button {
									max-width: 270px;
									width: 100%;
									height: 54px;

									a {
										color: var(--High-Pure, #fff);
										font-family: $f_title;
										font-style: normal;
										font-weight: 700;
										line-height: 120%;
									}
								}
							}
						}

						.banner-home-mobile{
							display: none;
						}

						@media (max-width:781px) {
							.banner-home-mobile{
								display: block;
							}
							.banner-home{
								display: none;
							}
						}
					}
					.video-gallery-block .video-gallery-block-title{
						display: none;
					}
					.video-gallery-block .video-gallery-wrapper .scroll-ratio .sidebar-itens .embed-template-block p{
						color: white;
					}
					.video-gallery-block .video-gallery-wrapper{
						margin-left: 80px;
						width: calc(100% - 155px);
					}
					@media (max-width:768px) {
						.video-gallery-block .video-gallery-wrapper{
							margin-left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}

	// Global
	.mb-0 {
		margin-bottom: 0 !important;
	}

	.mb-100 {
		margin-bottom: 105px;

		@media (min-width: 800px) and (max-width: 1400px) and (max-height: 800px) {
			margin-bottom: 433px;
		}
	}

	.fs-80 {
		font-size: 80px;
	}

	.br-8 {
		border-radius: 8px;
		overflow: hidden;
	}

	h1.color-black,
	span.color-black {
		color: var(--c-darkness-05) !important;
	}
} //home
