@import "./../3-components/fonts.scss";

.page.page-template-registro {
	#app {
		form {
			max-width: 770px;
			margin: 0 auto 80px;
			padding: 0 15px;

			div {
				margin-bottom: 20px;
			}

			input {
				width: 100%;
				border-radius: 8px;
				border: 1.5px solid #ddd;
				padding: 14px;
				margin: 8px 0;

				&[type="radio"] {
					display: none;
				}

				&[type="radio"]:checked ~ label {
					background: var(--wp--preset--color--vermelho-comite);
					color: var(--High-Pure, #fff); /* Cor do texto quando selecionado */
				}
			}

			.title {
				color: var(--wp--preset--color--vermelho-comite);
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 5;
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				font-family:$f_title;
				font-size: 48px;
				font-weight: 700;
				line-height: normal;
				margin-bottom: 40px;
			}

			.text-info {
				font-family:$f_title;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}

			.text-custom {
				font-family:$f_title;
				font-size: 20px;
				font-style: normal;
			}

			p {
				color: #111;
				font-family:$f_title;
				font-size: 14px;
				font-weight: 700;
				line-height: normal;
			}

			.buttons {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;

				br {
					display: none;
				}

				label {
					margin: 0;
					color: var(--wp--preset--color--high-pure);
					font-family:$f_title;
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: 120%; /* 19.2px */
					padding: 16px 32px;
					border-radius: 64px;
					background: var(--High-dark, #ccc);
					position: relative;
					cursor: pointer;
					transition: background 0.3s ease, color 0.3s ease;

					&:hover {
						background: var(--wp--preset--color--vermelho-comite);
					}
				}
			}

			.green-box.text {
				border-radius: 12px;
				background: var(--wp--preset--color--vermelho-comite);
				color: var(--wp--preset--color--vermelho-comite);
				font-weight: 700;
				padding: 20px;
				box-sizing: border-box;

				.text-custom {
					color: #111;
					font-family:$f_title;
					font-size: 20px;
					font-style: normal;
					font-weight: 700 !important; /* Certifique-se de incluir !important aqui */
					line-height: normal;
				}
				p {
					margin: 0;
					text-align: center;
					color: var(--wp--preset--color--high-pure);
				}
			}

			.submit-button {
				display: flex;
				justify-content: flex-end;
				margin-top: 16px;

				.custom-submit {
					padding: 16px 32px;
					border-radius: 64px;
					background: var(--wp--preset--color--vermelho-comite);
					color: #ffffff;
					text-decoration: none;
					cursor: pointer;
					border: none;
					font-family:$f_title;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 120%;
					transition: background 0.3s ease;
					width: auto;

					&:hover {
						background: #a61c2a;
					}
				}
			}

			.wpcf7-not-valid-tip {
				color: var(--wp--preset--color--vermelho-comite);
				font-weight: 700;
				line-height: normal;
				display: inline-block;
			}

			.contact-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				@media (min-width: 664px) {
					gap: 34px;
				}

				.contact-column {
					width: 300px;
				}
			}
		}
	}
}
