@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";
@import "./../3-components/fonts.scss";

.page {

	&-loja{
		h2 {
			color: var(--wp--preset--color--vermelho-comite);
			text-align: left;
			font-family: $f_title !important;
			font-size: 2rem;
		}

		#app {
			padding-bottom: 80px;

			a {
				height: auto;
			}

			.rua {
				.wp-block-buttons {
					margin-bottom: 45px;
				}
			}
			.rede {
				.wp-block-buttons {
					margin-top: -35px;
					margin-bottom: 65px;
				}
			}

			.index-wrapper{
				.row{
					.content{
						.post-share {
							display: none;
						}
					}
				}
			}
		}

		.titulo-rede {
			text-align: center;
		}
		.filtros {
			border-bottom: 2px solid #666;
			flex-wrap: nowrap !important;

			h2 {
				font-family: $f_title;
				font-size: 1.5rem;
				padding-bottom: 10px;
				margin-bottom: -2px;
				text-align: center;

				img {
					width: 38px !important;
				}

				@media (min-width: 576px) {
					font-size: 2rem;

					img {
						width: 48px !important;
					}
				}
			}
		}

		.wp-block-button {
			a {
				border-radius: 64px;
				border: 3px solid var(--wp--preset--color--vermelho-comite);
				background-color: #fff;
				padding: 12px 24px;
				color: var(--wp--preset--color--vermelho-comite);
				font-family: $f_title;
				font-size: 18px;
				font-weight: 700;
				line-height: 120%;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.wp-block-post-title {
			text-align: center;
			font-family: $f_title;
			font-size: 13px;
			font-weight: 700;
			line-height: 150%;
			text-transform: uppercase;
			margin-top: -5px;
			color: #000;
			@media (max-width: 1199px) {
				margin-top: -50px;
			}
			@media (max-width: 991px) {
				margin-top: -130px;
				font-size: 14px;
				padding: 12px 18px;
			}
			@media (max-width: 767px) {
				margin-top: -25px;
				font-size: 18px;
				padding: 16px 24px;
			}
			a {
				color: #282829;
				text-decoration: none;
			}
		}

		.material-rua,
		.material-rede {
			ul {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 30px;
				@media (max-width: 767px) {
					grid-template-columns: 1fr 1fr;
				}
			}

			.wp-block-columns {
				max-width: 100%;
				display: grid;

				figure {
					height: 270px;
                    margin-bottom: 8px;

					@media (min-width: 768px) {
						height: 270px;
					}

                    @media (min-width: 1400px) {
                        width: 270px;
                    }
					img{
						height: 270px;
					}
				}

				h3 {
					border-radius: 64px;
					background-color: var(--wp--preset--color--laranja-comite);
					color: var(--High-Pure, #fff);
					font-family: $f_title;
					font-size: 18px;
					font-weight: 700;
					line-height: 120%;
					text-align: center;
					padding: 16px 24px;
					max-width: 270px;
					margin: auto;
					cursor: pointer;

					@media (max-width: 1199px) {
						margin-top: -50px;
					}
					@media (max-width: 991px) {
						margin-top: -110px;
						font-size: 14px;
						padding: 12px 18px;
					}
					@media (max-width: 767px) {
						margin-top: 0;
						font-size: 18px;
						padding: 16px 24px;
					}
				}
			}
		}
		.material-rua{
			.wp-block-post-title{
				display: none;
			}
		}
		.modal {
			display: none;
			position: fixed;
			z-index: 9999;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(102, 102, 102, 0.70);
		}
		.modal-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fefefe;
			padding: 20px;
			text-align: center;
			display: flex;
			flex-direction: column;
			border-radius: 12px;

		}

		#modal-title{
			color: var(--wp--preset--color--vermelho-comite);
			font-family: $f_title;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: left;
			margin-bottom: 10px;
			margin-top: 0;
			display: flex;
			max-width: 330px;
			width: 100%;
			flex-wrap: wrap;
		}

		#modal-image{
			margin-bottom: 25px;
			margin-top: 0;
		}

		#modal-btn{
			border-radius: 64px;
			background-color: var(--wp--preset--color--laranja-comite);
			color: var(--High-Pure, #fff);
			font-family: $f_title;
			font-size: 18px;
			font-weight: 700;
			line-height: 120%;
			text-align: center;
			padding: 16px 24px;
			width: 90%;
			cursor: pointer;

			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
		}

		// palavra "Compartilhe e div de links das redes escondidos"

		p{
			display: none;
			// font-family: 'Open Sans';
			// font-size: 12px;
			// text-align: center;
			// color: #000;
		}

		.social-menu{
			display: none;
			// display: flex;
			// max-width: 80%;
			// justify-content: space-around;
		}

		.close {
			color: #aaa;
			text-align: right;
			font-size: 28px;
			font-weight: bold;
		}
		.hacklab-post-meta-block{
			display: none;
		}

	}

	&-solicite-uma-peticao{


		#app{
			.post-share{
				display: none;
			}

			.index-wrapper{
				.container{
					.row{
						.content{
							>h2{
								display: none;
							}

							.wp-block-contact-form-7-contact-form-selector{

								.text-info{
									font-family: $f_title;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 150%;
									max-width: 770px;
									width: 100%;
									margin-right: auto;
									margin-left: auto;
								}

								.text-custom{
									p{
										>label{
											color: #111;
											font-family: $f_title;
											font-size: 20px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
										}
									}
								}

								.codedropz-upload-handler{
									border: 1px dashed var(--Secondary-Pure, #3E3E3F);
									background-color: var(--High-light, #F5F5F5);
									max-width: 770px;
									width: 100%;
									height: 261px;
									flex-shrink: 0;

									.codedropz-upload-container{
										background-position: center;
										background-image: url($p_theme_assets+"/images/upload.svg");
										background-repeat: no-repeat;
										position: relative;
										top: 30px;
									}

									.dnd-upload-counter{
										display: none;

									}

									.codedropz-upload-inner{
										.codedropz-btn-wrap{
											a{
												position: relative;
												z-index: -99999;
											}

										}

										h3{
											display: none;
										}

										span{
											display: none;
										}

										&::after{
											content: "Arraste arquivos de foto aqui";
											color: var(--Low-light, #666);
											font-family: $f_title;
											font-size: 32px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											padding-top: 100px;
											position: absolute;
											top: 15px;
											left: 185px;
										}
									}
								}

								.steps{
									display: flex;
									justify-content: center;
									gap: 3px;

									.one{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step1{
											border-radius: 8px 0px 0px 8px;
											background: var(--wp--preset--color--vermelho-comite);
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

									.two{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step2{
											border-right: 1px solid var(--High-Pure, #FFF);
											border-left: 1px solid var(--High-Pure, #FFF);
											background: #D9D9D9;
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

									.three{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step3{
											border-right: 1px solid var(--High-Pure, #FFF);
											border-left: 1px solid var(--High-Pure, #FFF);
											background: #D9D9D9;
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

								}

								.steps2{
									display: flex;
									justify-content: center;
									gap: 3px;

									.one{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step1{
											border-radius: 8px 0px 0px 8px;
											background: var(--wp--preset--color--vermelho-comite);
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

									.two{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step2{
											border-right: 1px solid var(--High-Pure, #FFF);
											border-left: 1px solid var(--High-Pure, #FFF);
											background: var(--wp--preset--color--vermelho-comite);
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

									.three{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step3{
											border-right: 1px solid var(--High-Pure, #FFF);
											border-left: 1px solid var(--High-Pure, #FFF);
											background: #D9D9D9;
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

								}

								.steps3{
									display: flex;
									justify-content: center;
									gap: 3px;

									.one{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step1{
											border-radius: 8px 0px 0px 8px;
											background: var(--wp--preset--color--vermelho-comite);
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

									.two{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step2{
											border-right: 1px solid var(--High-Pure, #FFF);
											border-left: 1px solid var(--High-Pure, #FFF);
											background: var(--wp--preset--color--vermelho-comite);
											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

									.three{
										p{
											color: #3E3E3F;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											text-align: center;
										}

										.step3{
											border-right: 1px solid var(--High-Pure, #FFF);
											border-left: 1px solid var(--High-Pure, #FFF);
											background: var(--wp--preset--color--vermelho-comite);											width: 256px;
											height: 15px;
											flex-shrink: 0;
											border: none;
											color: var(--wp--preset--color--vermelho-comite);
										}
									}

								}

								.final-message{
									max-width: 770px;
									width: 100%;
									margin-right: auto;
									margin-left: auto;
									height: auto;
									flex-shrink: 0;
									border-radius: 12px;
									background-color: var(--wp--preset--color--vermelho-comite);
									border: none;

									h3{
										color: var(--High-Pure, #FFF);
										text-align: center;
										font-family: $f_title;
										font-size: 16px;
										font-style: normal;
										font-weight: 700;
										line-height: 150%;
										padding-top: 16px;
									}

									label{
										color: var(--High-Pure, #FFF);
										text-align: center;
										font-family: $f_title;
										font-size: 16px;
										font-style: normal;
										font-weight: 600;
										line-height: 150%;
										margin-left: auto;
										margin-right: auto;
										max-width: 770px;
										display: inherit;
										width: 100%;
										padding-bottom: 16px;
									}
								}

								.resumo-peticao{
									margin-top: 32px;
									border-radius: 12px;
									border: 1px solid var(--Low-light, #666);
									background: var(--High-light, #F5F5F5);
									max-width: 770px;
									width: 100%;
									margin-right: auto;
									margin-left: auto;
									height: auto;
									flex-shrink: 0;

									.submit-button-form{
										position: relative;
										top: 152px;
										left: -132px;
										border: none;
										border-radius: 64px;
										background: var(--wp--preset--color--vermelho-comite);
										font-weight: bold;
										padding: 16px 32px;
										color: #fff;

										&::after{
											width: 30px;
											height: 20px;
											border: 1px solid var(--wp--preset--color--vermelho-comite);
											display: block;
											position: relative;
										}
									}

									#cf7mls-next-btn-cf7mls_step-4{
										display: none;
										color: transparent;
										background-color: transparent;
									}

									#cf7mls-back-btn-cf7mls_step-4{
										position: relative;
										left: 206px;
										border-radius: 64px;
										background: var(--Low-light, #666);
										top: 8px;
										color: #fff;
										padding: 16px 32px;
									}

									.show-apresentacao-peticao{
										max-width: 687px;
										width: 100%;
										overflow-wrap: break-word;
									}

									#imagemExibida{
										max-width: 344px;
										width: 100%;
										height: auto;
										margin-top: 8px;
									}

									#previewImagem{
										display: none !important;
									}

									.criado{
										color: #111;
										font-family: $f_title;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}

									.show-cidade-autor, .show-email-autor,
									.show-tel-autor, .show-estado1{
										p{
											margin: 0;
										}
										margin: 0;
										color: #111;
										font-family: $f_title;
										font-size: 14px;
										font-style: normal;
										font-weight: 700;
										line-height: normal;
										margin-bottom: 27px;
										text-transform: lowercase;
									}

									.show-titulo-peticao{
										color: #111;
										font-family:$f_title;
										font-size: 18px;
										font-style: normal;
										font-weight: 700;
										line-height: 150%;
									}

									.show-autor-peticao{
										color: #111;
										font-family: $f_title;
										font-size: 14px;
										font-style: normal;
										font-weight: 700;
										line-height: normal;
									}


									.text-first-excerpt{
										display: flex;
										padding-left: 24px;
										gap: 260px;
										border-bottom: 1px solid var(--Low-light, #666);
										padding-bottom: 15px;


										label{
											color: #111;
											font-family: $f_title;
											font-size: 18px;
											font-style: normal;
											font-weight: 700;
											line-height: 150%; /* 27px */
										}

										.create{
											display: flex;
											align-items: center;
											gap: 8px;
										}
									}

									.entry-excerpt{
										max-width: 724px;
										width: 100%w;
										padding-left: 24px;
										padding-right: 11px;

										.apresentacao{
											color: #111;
											font-family: $f_title;
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: 150%;
										}
									}
								}

								.text-custom-date{
									border-radius: 12px;
									background: var(--wp--preset--color--vermelho-comite);
									display: flex;
									width: 100%;
									justify-content: center;
									text-align: center;
									height: 56px;
									max-width: 770px;
									margin-left: auto;
									margin-right: auto;

									p{
										label{
											color: var(--wp--preset--color--high-pure);
											font-family: $f_title;
											font-size: 14px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
										}
									}
								}

								.text, .text-3, select{
									p{
										label{
											color: #111;
											font-family: $f_title;
											font-size: 14px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											margin-bottom: 8px;
										}
									}

									.required{
										color: var(--wp--preset--color--vermelho-comite);
									}
								}

								.contact-container{
									.contact-column{
										display: flex;
										gap: 29px;
										max-width: 770px;
										width: 100%;
										margin-right: auto;
										margin-left: auto;

										label{
											max-width: 270px;
											width: 100%;
										}

										select{
											display: flex;
											width: 79px !important;
											padding: 16px 16px 16px 16px;
											align-items: center;
											gap: 10px;
											border-radius: 8px;
											border: 1.5px solid #DDD;
											background-color: #fff;
										}

									}
								}

								.peticao-container{
									margin-top: 27px;

									p{
										margin: 0;
									}

									.resumo-column-image{
										display: flex;
										gap: 70px;

										.imagem{
											max-width: 344px;
											width: 100%;
										}

										.resumo-column{
											max-width: 400px;
											width: 100%;

											.informacoes{
												color: #111;
												font-family: $f_title;
												font-size: 16px;
												font-style: normal;
												font-weight: 700;
												line-height: 150%;
												max-width: 307px;
												width: 100%;
											}

											.peticao-container{
												.resumo-column-1{
													display: flex;
													gap: 39px;

													.email-resumo{
														width: 161px;
													}
												}

												label{
													color: #111;
													font-family: $f_title;
													font-size: 14px;
													font-style: normal;
													font-weight: 400;
													line-height: normal;
													margin-bottom: 8px;
												}
											}
										}
									}
								}

								.wpcf7-form-control-wrap{

									input[type="text"], input[type="email"], input[type="tel"]{
										border-radius: 8px;
										border: 1.5px solid #DDD;
										display: flex;
										max-width: 770px;
										width: 100%;
										padding: 16px 96px 16px 16px;
										align-items: center;
										gap: 10px;
									}

									textarea{
										display: flex;
										max-width: 770px;
										width: 100%;
										height: 163px;
										padding: 16px 96px 16px 16px;
										align-items: center;
										gap: 10px;
										flex-shrink: 0;
										border-radius: 8px;
										border: 1.5px solid #DDD;
									}
								}
								.disclaimer-text{
									color: var(--Low-light, #666);
									font-family: $f_title;
									font-size: 14px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
								}

								.cf7mls-btns{
									display: flex;
									justify-content: center;
									gap: 33px;

									.cf7mls_next{
										border-radius: 64px;
										background: var(--wp--preset--color--vermelho-comite);
										display: inline-flex;
										padding: 16px 32px;
										align-items: center;
										gap: 8px;

										&::after{
											content: '';
											display: block;
											position: relative;
											width: 21px;
											height: 21px;
											background-image: url($p_theme_assets+"/images/pajamas_long-arrow.svg");
											background-repeat: no-repeat;

										}
									}

									.cf7mls_back{
										border-radius: 64px;
										background: var(--Low-light, #666);
										display: inline-flex;
										padding: 16px 32px;
										align-items: center;
										gap: 8px;
										color: #fff;

										&::before{
											content: '';
											display: block;
											position: relative;
											width: 21px;
											height: 21px;
											background-image: url($p_theme_assets+"/images/pajamas_arrow-left.svg");
											background-repeat: no-repeat;

										}
									}
								}

								.format{
									color: var(--Low-light, #666);
									font-family: $f_title;
									font-size: 14px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
								}

								.wpcf7-acceptance{

									.wpcf7-list-item-label{
										a{
											color: var(--wp--preset--color--vermelho-comite);
											text-decoration: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.page-template-registro-form{
			.title{
				display: none;
			}
		}
	}

	.footer-copyright-area {
		.wp-block-columns {
			.wp-block-column {
				> h3 {
					text-align: center;
				}
			}
		}
	}
	background-color: #ffffff;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $f_title;
		font-weight: 400;
	}

	h2 {
		overflow: hidden;
		color: var(--wp--preset--color--vermelho-comite);
		text-align: center;
		text-overflow: ellipsis;
		font-family: $f_title;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.header-and-footer-archive {
		border-bottom: 2px solid #666;
		margin-bottom: 40px;

		@media (min-width: 576px) {
			max-width: 100%;
		}

		h2 {
			overflow: hidden;
			color: var(--wp--preset--color--vermelho-comite);
			text-overflow: ellipsis;
			font-family: $f_title;
			font-size: 48px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: left;
		}

		p {
			color: var(--Low-Pure, #222);
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%; /* 30px */
		}
	}

	.post-share {
		display: flex;
		max-width: 770px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 24px;
		gap: 15px;

		h6 {
			margin: 0;
			margin-top: 16px;
			overflow: hidden;
			color: var(--Secondary-dark, #282829);
			text-overflow: ellipsis;
			font-family: $f_title;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%; /* 24px */
		}

		.social-media {
			height: 50px;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 24px;

			.facebook {
				width: 24px;
				height: 24px;
				background-image: url($p_theme_assets+"/images/social-networks/ri_facebook-fill.svg");
				display: block !important;
				background-repeat: no-repeat;
				background-position: center;
			}

			.whatsapp {
				width: 24px;
				height: 24px;
				background-image: url($p_theme_assets+"/images/social-networks/ic_baseline-whatsapp.svg");
				display: block !important;
				background-repeat: no-repeat;
				background-position: center;
			}

			.twitter {
				width: 24px;
				height: 24px;
				background-image: url($p_theme_assets+"/images/social-networks/simple-icons_x.svg");
				display: block !important;
				background-repeat: no-repeat;
				background-position: center;
			}

			.instagram {
				width: 24px;
				height: 24px;
				background-image: url($p_theme_assets+"/images/social-networks/mdi_instagram.svg");
				display: block !important;
				background-repeat: no-repeat;
				background-position: center;
			}

			.telegram {
				width: 24px;
				height: 24px;
				background-image: url($p_theme_assets+"/images/social-networks/ic_baseline-telegram.svg");
				display: block !important;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	.content figure {
		max-width: 770px;
		height: 506px;
		margin-right: auto;
		margin-left: auto;
	}

	p {
		color: var(--Secondary-dark, #282829);
		font-family: $f_title;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		max-width: 770px;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}

	h1.ultp-block-title a {
		font-family: $f_title;
		font-size: 64px !important;
		font-style: normal;
		font-weight: 700;
		line-height: 77px;
		letter-spacing: 0em;
		text-align: left;
	}

	h2.ultp-block-title a {
		font-family: $f_title;
		font-size: 48px !important;
		font-style: normal;
		font-weight: 400;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
	}

	h3.ultp-block-title a {
		font-family: $f_title;
		font-size: 40px !important;
		font-style: normal;
		font-weight: 400;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: left;
	}

	h4.ultp-block-title a {
		font-family: $f_title;
		font-size: 32px !important;
		font-style: normal;
		font-weight: 400;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
	}

	h5.ultp-block-title a {
		font-family: $f_title;
		font-size: 24px !important;
		font-style: normal;
		font-weight: 400;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;
	}

	h6.ultp-block-title a {
		font-family: $f_title;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px !important;
		letter-spacing: 0em;
		text-align: left;
	}

	p {
		color: $c_gray_darker;
	}

	h1:first-of-type {
		align-self: center;
		color: var(--c-primary);
		display: flex;
		font-size: 6.4rem;
		font-weight: 700;
		justify-content: center;
		text-transform: uppercase;
	}

	&-relatos {
		h4 span:first-child {
			max-width: 65vw;
		}

		.cwp_block_slider {
			.wp-block-columns {
				align-items: flex-start;
			}

			button {
				background-color: transparent !important;

				span {
					font-size: 5.2rem !important;
					height: 5.2rem !important;
					width: 5.2rem !important;

					&::before {
						color: var(--c-primary);
					}
				}
			}
		}

		.card-testemonial {
			border-radius: 4.4rem;
			border: 1px solid var(--c-primary);
			box-shadow: 6px 6px 4px rgba($color: #000000, $alpha: 0.15);
			padding: 5rem 2rem 4rem 2rem;
			width: 32.5rem;

			@media (max-width: $tablet-width) {
				margin-bottom: 30px;
			}

			figure {
				height: 9rem;
				overflow: hidden;
				position: relative;
				width: 9rem;
			}
		}

		.cwp-block-prev,
		.cwp-block-next {
			@media (max-width: $tablet-width) {
				display: none;
			}
		}

		.ultp-block-item {
			border: none !important;
			padding-bottom: 8rem !important;
			.ultp-block-content {
				text-align: left !important;
				h6,
				h6 a {
					color: var(--c-primary);
					font-size: var(--s-h6);
				}
			}
			.ultp-block-image {
				> a {
					height: auto !important;
				}
			}
		}

		.life-history {
			.wp-block-columns {
				gap: 30px;
				height: 255px;
				margin-bottom: 30px;

				.wp-block-column {
					margin: 0;

					.box-historias {
						object-fit: cover;
						width: 100% !important;

						.ultp-block-wrapper {
							width: 100% !important;

							.ultp-block-image {
								max-height: 148px !important;
								width: 100% !important;

								img {
									height: 100%;
								}
							}

							.ultp-block-content {
								h6 {
									color: $c_blue_primary;
									font-family: $f_title;
									font-size: 20px;
									font-style: normal;
									font-weight: bold;
									line-height: 24px;
								}
							}
						}
					}
				}
			}
		}
	}

	&-comunicacao {
		.title-with-graphics {
			text-transform: uppercase;
			font-size: 40px;
			line-height: 48px;
		}

		.title-page {
			margin-bottom: 64px;
		}

		.c_sobre {
			padding: 0;
			min-height: unset;
			margin-bottom: 34px;

			.wp-block-columns {
				margin: 0;
				gap: 30px;

				.wp-block-column {
					margin: 0;

					figure {
						margin: 0;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}

			p {
				font-size: 24px;
				line-height: 29px;
				color: $c_gray_darker;
				margin: 0;
			}
		}

		.c_mid {
			padding: 0;
			margin-bottom: 30px;

			.wp-block-columns {
				margin: 0;
				min-height: 216px;

				.wp-block-column,
				.wp-block-image,
				.wp-block-button {
					margin: 0;
				}

				.wp-block-column {
					min-height: 216px;
					justify-content: center;
					align-items: center;
					display: flex;

					p {
						text-align: center;
						font-size: 32px !important;
						line-height: 38px;
						color: $c_blue_primary;
					}
				}

				.wp-block-image {
					position: absolute;
					margin: 0 auto;
					bottom: 0;
					width: 50%;
				}

				.wp-block-button {
					a.wp-block-button__link {
						padding: 13px 44.5px;
					}
				}
			}
		}

		.c_materiais,
		.c_assessoria,
		.c_radio,
		.c_destaques,
		.c_videos,
		.c_iniciativas {
			min-height: unset;
			margin-bottom: 70px;

			.wp-block-columns {
				margin: 0 auto;
			}
		}

		.c_oficinas {
			background-color: $c_yellow_primary;
			margin-bottom: 70px;

			h3 {
				text-align: center;
				color: var(--c-primary);
				font-size: var(--s-h3) !important;
				text-transform: uppercase;
				margin-bottom: 64px;
			}

			p {
				max-width: 1270px;
				margin: 25px auto;
			}

			figure.wp-block-gallery {
				max-width: 1270px;
				margin: 0 auto 8rem;
				max-height: 45rem;
				overflow-y: scroll;
				padding-right: 10px;

				&::-webkit-scrollbar {
					width: 14px;
					background-color: var(--c-secondary);
					opacity: 0.5;
				}

				&::-webkit-scrollbar-thumb {
					border: 4px solid rgba(0, 0, 0, 0);
					background-clip: padding-box;
					border-radius: 9999px;
					background-color: var(--c-primary);
				}
			}

			p.container {
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;
				color: var(--c-primary);
				margin: 25px auto;
			}
		}

		.c_destaques {
			padding: 0;

			h4 {
				margin: 0 0 40px 0;
			}

			p {
				max-width: 470px;
				font-size: 32px !important;
				line-height: 38px;
				color: var(--c-primary) !important;
				margin: 0 0 40px 0;
			}

			a.wp-block-button__link {
				padding: 13px 47px;
			}

			.wp-block-columns {
				align-items: center;
				margin-bottom: 80px;
			}

			.wp-block-video {
				margin: 0;
			}
		}

		.c_videos {
			.wp-block-embed {
				margin: 0;

				&__wrapper {
					text-align: center;

					iframe {
						min-width: 724px;
						min-height: 408px;
					}
				}
			}
		}

		.c_iniciativas {
			h4 {
				margin: 0 0 40px;
			}

			p {
				margin: 0 0 40px 0;
				max-width: 60%;
				font-size: 32px;
				line-height: 38px;
				color: $c_blue_primary;
			}

			.wp-block-button {
				.wp-block-button__link {
					padding: 13px 50px;
					border-radius: 5px;
				}
			}
		}
	}

	&-ciranda {
		.title-with-graphics {
			text-transform: uppercase;
		}

		.wp-block-cover {
			margin-bottom: 32px !important;
			padding: 0;
		}

		.ciranda {
			margin-bottom: 78px;

			figure {
				margin-bottom: 21px;
				margin-top: 18px;
				max-width: 1097px;
			}
		}

		.about {
			gap: 30px;
			margin: 0;

			.wp-block-cover {
				margin-bottom: 0 !important;
				padding: 0;
			}

			&-video {
				width: 100%;

				figure {
					width: 100%;
					height: 100%;

					iframe {
						width: 100%;
						min-height: 325px;
					}
				}
			}

			&-content {
				margin: 0;

				p {
					color: $c_gray_darker;
					font-family:$f_title;
					font-size: 24px;
					font-style: normal;
					font-weight: normal;
					line-height: 29px;
					margin: 0 0 32px 0;
				}

				.box {
					min-height: unset;
					padding: 16px 0 26px;

					p {
						font-family: $f_title;
						font-size: 32px !important;
						font-style: normal;
						font-weight: normal;
						line-height: 38px;
						margin: 16px 0;
						text-align: center;
						color: #ffffff;
						margin: 0 0 16px 0;
					}

					.wp-block-button {
						margin: 0;
					}

					a {
						background-color: #ffffff !important;
						border-radius: 5px;
						color: $c_blue_primary !important;
						font-family: $f_title;
						font-size: 18.4px;
						font-style: normal;
						font-weight: normal;
						line-height: 22px !important;
						line-height: 48px;
						padding: 13px 46px;
						text-align: center;
					}
				}
			}
		}

		.seeYou {
			font-family: $f_title;
			margin-bottom: 80px !important;
			padding: 78px 0;

			&::before {
				margin-left: calc(50% - 50vw);
				margin-right: calc(50% - 50vw);
				max-width: 100vw;
				opacity: 1 !important;
				width: 100vw;
			}

			h2 {
				font-size: 40px !important;
				font-style: normal;
				font-weight: normal;
				line-height: 48px;
				margin: 0 0 40px;
				text-transform: uppercase;
				text-align: center;
				color: var(--c-primary);
			}

			.legend {
				color: #fff;
				font-size: 32px;
				font-style: normal;
				font-weight: normal;
				line-height: 38px;
				margin: 0 0 64px 0;
				text-align: center;
			}

			.image-group {
				display: flex;
				margin: 64px 0;

				.wp-block-column {
					align-self: center;

					figure {
						margin: auto;
						img {
							width: 100%;
							max-height: 120px;
						}
					}
				}
			}

			.wp-block-image {
				figure {
					width: 100%;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}

		.news {
			.ultp-block-media {
				.ultp-category-grid {
					.ultp-category-in {
						a {
							font-family: $f_title;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 17px;
							color: $c_gray_darker;
						}
					}
				}

				.ultp-block-title {
					font-family: $f_title;
					font-style: normal;
					font-weight: normal;
					font-size: 32px;
					line-height: 38px;
					color: $c_blue_primary;
				}

				.ultp-block-date {
					font-family: $f_title;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: $c_gray_darker;
				}

				.ultp-block-excerpt {
					font-family: $f_title;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					color: $c_gray_darker;
				}
			}
		}

		.has-light-yellow-background-color {
			background-color: var(--c-yellow-primary);
		}

		.has-green-background-color {
			background-color: $c_green_primary;
		}
	}

	#historia {
		.wp-block-cover__image-background {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;
		}
	}

	/* Icones */
	.fa,
	.fas {
		font-weight: 900;
		color: var(--c-primary);
		width: 20px;
		margin-right: 10px;
	}

	&-fale-conosco {
		// Contact form

		.wpcf7-form {
			label {
				span {
					display: block;
				}
			}
			input[type="text"],
			input[type="email"],
			textarea {
				border: 2px solid #ddd;
				padding: 10px 20px;
				width: 100%;

				&:focus-visible {
					border-color: var(--c-primary);
					outline: 0;
				}
			}

			input[type="submit"] {
				background-color: var(--c-primary);
				border-radius: 6px;
				border: 0;
				box-shadow: 0;
				color: white;
				float: right;
				font-size: 12px;
				font-weight: 900;
				padding: 13px 60px;
				text-transform: uppercase;
			}

			::placeholder {
				color: rgba(0, 0, 0, 0.6);
			}
		}
	}
}

.page-obrigado {
	.post-share{
		display:none;
	}
	.content figure{
		height: 100px;
	}
	.alignright {
		float:initial;
	}
	.zap-mobile{
		display: none;
	}

	@media (max-width:781px) {
		.espacador-zap{
			display: none;
		}
		.zap-mobile{
			display: block;
		}
		.zap-desktop{
			display: none;
		}
	}
}

/*Trabalho de Base*/
.page-trabalho-de-base {
	a {
		text-decoration: none;
	}

	.header {
		margin: 40px 0;
		border-bottom: 2px solid #666;
	}

	h2 {
		text-align: left;
		color: var(--wp--preset--color--vermelho-comite);
	}

	p {
		color: var(--Low-Pure, #222);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
	}
	.cards {
		margin-bottom: 80px;
		gap: 26px;
		max-height: 410px;
		flex-wrap: wrap !important;

		> div {
			min-width: 300px;
		}

		span,
		img {
			border-radius: 12px;
		}

		.wp-block-cover span {
			background: #DF5C0FC7;
			opacity: 1;
		}

		h2 {
			margin: 15px 0;
			text-align: center;
		}

		p {
			margin: 0;
		}

		figure {
			height: auto;
		}
	}

}

/*Jornada Nacional*/
.page-jornada-nacional {

	.wp-block-cover .wp-block-coverbackground.has-background-dim.has-background-dim-90{
		background-color: #0E3C5D !important;
	}

	.wp-block-cover .wp-block-coverbackground.has-background-dim.has-background-dim-80{
		background-color: #F9B004 !important;
	}

	a {
		text-decoration: none;
	}

	.header {
		margin: 40px 0;
		border-bottom: 2px solid #666;
	}

	h2 {
		text-align: left;
		color: var(--wp--preset--color--vermelho-comite);
	}

	p {
		color: var(--Low-Pure, #222);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
	}

	.wp-block-buttons {
		.wp-block-button {
			max-width: 355px;
			width: 100%;
			height: 54px;

			a {
				color: var(--wp--preset--color--low-pure);
				font-family: $f_title !important;
				font-size: 1.125rem;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
				background-color: var(--wp--preset--color--vermelho-comite);
			}
		}
	}

	.colunas-loops {
		.wp-block-column {
			flex-basis: 200px;
		}

		.coluna1 {
			.wp-block-query {
				figure {
					max-width: 270px;
					width: 100%;
					height: auto;
					object-fit: cover;

					img {
						border-radius: 12px;
					}
				}

				.taxonomy-category {
					margin-top: 13px;
					a {
						color: var(--wp--preset--color--vermelho-comite);
						font-family: $f_title;
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%;
						text-transform: uppercase;
						text-decoration: none;
					}
				}

				h3 {
					margin: 0;
					height: fit-content;

					> a {
						margin-top: 13px;
						overflow: hidden;
						color: var(--Secondary-dark, #282829);
						text-overflow: ellipsis;
						font-family: $f_title;
						font-size: 16px;
						font-style: normal;
						font-weight: 700;
						line-height: 150%; /* 24px */
						text-decoration: none;
						position: relative;

						@media (min-width: 992px) {
							top: -10px;
						}

						@include small {
							top: inherit;
						}
					}
				}

				p {
					color: var(--Low-Pure, #222);
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 150%; /* 30px */
				}
			}
		}
	}

	.content figure{
		height: auto;
	}

	.wp-block-file{
		margin-top: 5px;
	}

}

/* Agosto das Juventudes */
.page-agosto-das-juventudes{
	.miniaturas-agosto{
		max-height: 189px
	}
}
