@import '../1-settings/s-variables';
@import '../2-atoms/a-mixins';

/** Bloco - Downloads **/
.single-petition{

    .petition-form{
        background: var(--wp--preset--color--high-light);
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
        max-width: 370px;
        width: 100%;
        height: auto;
        position: relative;
        top: -118px;
        padding: 80px 16px 20px 16px;

        @include small{
            top: 10px;
        }

        @include mobile{
            top: 10px;
        }

        .people-signatures{
            overflow: hidden;
            color: var(--wp--preset--color--vermelho-comite);
            text-overflow: ellipsis;
            font-family: $f_title;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            justify-content: center;
        }

        p{
            overflow: hidden;
            color: var(--wp--preset--color--vermelho-comite);
            text-overflow: ellipsis;
            font-family:$f_title;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            justify-content: center;
            margin-top: 0;
			text-align: center;
        }

        h2{
            overflow: hidden;
            color: var(--Low-dark, #111);
            text-overflow: ellipsis;
             font-family:$f_title;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            justify-content: center;
			text-align: center;

        }

        form{
            input[type="text"]{
                border-radius: 12px;
                border: 1px solid #000;
                height: 52px;
                max-width: 338px;
                width: 100%;
                padding-top: 14px;
                padding-left: 16px;
                padding-bottom: 16px;
                margin-bottom: 8px;
            }

            input[type="email"]{
                border-radius: 12px;
                border: 1px solid #000;
                height: 52px;
                max-width: 338px;
                width: 100%;
                padding-top: 14px;
                padding-left: 16px;
                padding-bottom: 16px;
                margin-bottom: 8px;
            }

            input[type="tel"]{
                border-radius: 12px;
                border: 1px solid #000;
                height: 52px;
                max-width: 338px;
                width: 100%;
                padding-top: 14px;
                padding-left: 16px;
                padding-bottom: 16px;
                margin-bottom: 8px;
            }

            .cidade{
                display: flex;
                gap: 8px;

                select{
                    border-radius: 12px;
                    border: 1px solid #000;
                    max-width: 90px;
                    height: 52px;
                    background-color: #fff;
                }
            }

            input[type="city"]{
                border-radius: 12px;
                border: 1px solid #000;
                height: 52px;
                max-width: 338px;
                width: 100%;
                padding-top: 14px;
                padding-left: 16px;
                padding-bottom: 16px;
                margin-bottom: 8px;
            }

            .primary{
                display: flex;
                width: 338px;
                padding: 16px 32px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                margin-top: 24px;
                border: none;
                border-radius: 64px;
                background: var(--wp--preset--color--vermelho-comite);
                color: #fff;
                font-family:$f_title;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                text-decoration: none;
            }

            .post-share{
                h3{
                    margin: 0;
                    margin-top: 40px;
                    overflow: hidden;
                    color: var(--Low-dark, #111);
                    text-align: center;
                    text-overflow: ellipsis;
                     font-family:$f_title;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    display: flex;
                    justify-content: center;
                }

                .social-media{
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 24px;
                    justify-content: center;

                    .facebook{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/ri_facebook-fill.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .whatsapp{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/ic_baseline-whatsapp.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .twitter{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/simple-icons_x.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .instagram{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/mdi_instagram.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .telegram{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/ic_baseline-telegram.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }

    .modal-signature{
        display: none;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(102, 102, 102, 0.70);
        z-index: 1000;

        .content{
            padding: 30px 20px 0px 20px;
            position: relative;
            height: 288px;
            max-width: 370px;
            width: 100%;
            border-radius: 12px;
            background-color: #f5f5f5;
        }

        .entry-modal-signature{
            h2{
                color: var(--wp--preset--color--vermelho-comite);
                 font-family:$f_title;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 0;
            }
            p{
                color: var(--Secondary-dark, #282829);
                font-family:$f_title;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .close-modal{
            display: flex;
            justify-content: center;

            button{
                width: 270px;
                height: 54px;
                border-radius: 64px;
                background-color: #00A62D;
                color: var(--High-Pure, #FFF);
                font-family:$f_title;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                padding: 16px 24px 16px 24px;
                border: none;
                margin-bottom: 30px;
            }
        }
    }
}

.wp-block-file {
    border: 1px solid #999999;
    padding: 15px 16px;
    height: 80px;

    &::before {
        width: 30.57px;
        height: 38.91px;
        margin-top: 5px;
        background-image: url(/wp-content/themes/fpa-comites-populares/assets/images/pdf-icon.png);
        background-position: left center;
        background-repeat: no-repeat;
        content: " ";
        position: absolute;
    }

    a:first-child {
        font-family:$f_title;
        font-style: normal;
        margin-left: 45px;
        font-size: 18px;
        text-transform: uppercase;
        max-width: 33em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $c_gray_darker;

        &::after {
            content: ".pdf";
            text-transform: none;
        }

        &::before {
            position: absolute;
            font-size: 16px;
            margin-top: 25px;
            color: #999999;
            text-transform: none;
            content: "Fazer download de PDF";
        }
    }

    a.wp-block-file__button {
        float: right;
        background: none;
        content: "download";
        color: $c_gray_darker;
        margin: 8px 0;

        &:hover {
            color: $c_blue_primary;
        }
    }
}

#single {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    @media (max-width:$tablet-width){
        display: block;
    }

    .sidebar-area{

        .list-terms{
            margin-bottom: 0;

            .term-comite{
                a{
                    color: var(--wp--preset--color--vermelho-comite) !important;
                    font-family:$f_title;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }

        .mais-noticias{
            overflow: hidden;
            color: var(--wp--preset--color--vermelho-comite);
            text-overflow: ellipsis;
             font-family:$f_title;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border-top: 1px solid var(--wp--preset--color--vermelho-comite)

            a{
                text-decoration: none;
            }
        }

        h2{
            overflow: hidden;
            color: var(--Secondary-dark, #282829);
            text-overflow: ellipsis;
			font-family:$f_title;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        >ul{
            display: flex;
            flex-direction: column;
            gap: 16px;

            >li{
                >a{
                    overflow: hidden;
                    color: var(--Secondary-dark, #282829);
                    text-overflow: ellipsis;
                     font-family:$f_title;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%; /* 24px */
                    text-decoration: none;
                }

                .wp-block-latest-posts__post-date{
                    overflow: hidden;
                    color: var(--Low-light, #666);
                    text-overflow: ellipsis;
                    font-family:$f_title;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 21px */
                    padding-top: 4px;
                }
            }
        }

    }

    #content {
        max-width: 770px;
        width: 100%;
        margin-right: auto;

        .post {
            margin-bottom: 39px;

            p{
                overflow: hidden;
                color:var(--wp--preset--color--ouro-comite);
                text-overflow: ellipsis;
                 font-family:$f_title;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }

            .post-share{
                display: flex;
                gap: 15px;

                h6{
                    margin: 0;
                    margin-top: 16px;
                    overflow: hidden;
                    color: var(--Secondary-dark, #282829);
                    text-overflow: ellipsis;
                     font-family:$f_title;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }

                .social-media{
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 24px;

                    .facebook{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/ri_facebook-fill.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .whatsapp{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/ic_baseline-whatsapp.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .twitter{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/simple-icons_x.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .instagram{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/mdi_instagram.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    .telegram{
                        width: 24px;
                        height: 24px;
                        background-image: url($p_theme_assets + '/images/social-networks/ic_baseline-telegram.svg');
                        display: block !important;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            .wp-block-embed{
                iframe{
                    max-width: 770px;
                    width: 100%;
                    height: 433px;
                }
            }

            &-header {
                margin: 0 0 40px;

                .info {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;

                    span.category{
                        float: left;

                        a {
                            color: var(--wp--preset--color--vermelho-comite);
							font-family:$f_title;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%; /* 21px */
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }

                .title {
                    h4 {
                        overflow: hidden;
                        color: var(--wp--preset--color--ouro-comite);
                        text-overflow: ellipsis;
						font-family:$f_title;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }

                .data {
                    overflow: hidden;
                    color: var(--Low-light, #666);
                    text-overflow: ellipsis;
					font-family:$f_title;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 21px */
                }
            }

            &-thumbnail{
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &-content {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-footer {
                &-tags {
                    margin: 30px 0;

                    ul {
                        list-style: none;
                        display: flex;
                        padding: 0;
                        flex-wrap: wrap;
                        margin-left: -5px;
                        margin-right: -5px;

                        li {
                            box-sizing: border-box;
                            list-style-type: none;
                            margin: 5px;

                            a {
                                border: 1px solid #BDBDBD;
                                color: $c_gray_darker;
                                display: block;
                                font-size: 14px;
                                font-weight: 700;
                                padding: 6px 10px;
                                text-decoration: none;

                                &:hover {
                                    background-color: #DDD;
                                }
                            }

                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                &-share {
                    display: flex;
                    min-height: 72px;
                    background: $c_blue_secondary;
                    align-items: center;
                    padding: 5px 0;

                    h6 {
                        margin: 0 95px 0 33px;
                        font-family:$f_title;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        color: $c_blue_primary;
                    }

                    .social-media {
                        i {
                            font-size: 24px;
                            color: $c_blue_primary;
                            margin: 0 26px;
                        }

                        @media (max-width: $tablet-width) {
                            .hide-for-large {
                                display: unset;
                            }
                            .show-for-large {
                                display: none;
                            }
                        }

                        @media (min-width:$tablet-width) {
                            .hide-for-large {
                                display: none;
                            }
                            .show-for-large {
                                display: unset;
                            }
                        }

                        #alert {
                            position: absolute;
                            margin-top: 55px;
                            margin-left: -140px;
                            text-align: center;
                            max-width: 210px;
                            background: $c_blue_secondary;
                            color: $c_blue_primary;
                            border-radius: 5px;
                            padding: 3px 10px;
                            opacity: 1;
                            transition: opacity 5s ease-in-out;
                        }
                        #alert.hide{
                            opacity: 0;
                            pointer-events: none;
                        }

                    }

                    @media (max-width: 600px) {
                        flex-wrap: wrap;

                        h6 {
                            width: 100%;
                            margin: 0 0 10px 0;
                            text-align: center;
                        }

                        .social-media {
                            width: 100%;
                            text-align: center;
                            i {
                                margin: 0 20px;
                            }
                        }

                    }
                }

                &-views {
                    margin: 40px 0 24px;

                    p {
						font-family:$f_title;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }
                }
            }

        }

        .related {
            > h2 {
                color: $c_blue_primary;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.4;
            }

            &-post{
                display: flex;
                margin: 0 0 30px;

                &-image {
                    max-width: 206px;
                    max-height: 123px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                &-content {
                    margin-left: 30px;

                    @media (max-width: 600px) {
                        border-bottom: 1px solid #CCC;
                        margin-bottom: 2em;
                        padding-bottom: 1.75em;
                        width: 100%;
                    }

                    .category {
                        p {
							font-family:$f_title;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 1.4;
                            color: $c_gray_darker;
                            margin: 0 0 10px 0;
                        }
                    }

                    .title {
                        h6 {
							font-family:$f_title;;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 1.4;
                            color: $c_blue_primary;
                            margin: 0;
                        }
                    }
                }

                @media (max-width: 600px) {
                    flex-wrap: wrap;

                    &-image {
                        max-width: 100%;
                        width: 100%;
                    }

                    &-content {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }

    #sidebar {
        max-width: 300px;
        width: 100%;

        @media (max-width: $desktop-width) {
            max-width: 250px;
        }

        @media (max-width: $tablet-width) {
            max-width: none;
        }

        .search{
            input {
                width: 100%;
                padding: 15px 18px 16px;
                background: #FFFFFF;
                /* Principal */
                border: 2px solid #035299;
                box-sizing: border-box;
            }
            svg.search-icon {
                position: absolute;
                margin-top: 20px;
                margin-left: -33px;
            }
        }
    }
}

.related {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
