@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";
@import "./../3-components/fonts.scss";
// Path assets
$p_theme_assets: "/wp-content/themes/fpa-comites-populares/assets";

.search {
	header.c-title {
		background-color: #fff;

		&::before {
			background-color: transparent;
		}

		h1 {
			color: var(--wp--preset--color--vermelho-comite);
			font-family: $f_title;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: left;
		}
		.search-count {
			border-top: 1px solid;
		}

		p {
			font-family: "Open Sans";
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			color: #222;
		}
	}

	.index-wrapper {
		main {
			width: 100%;
			.content {
				@import "./../7-parts/p-content-post";

				max-width: 1200px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 30px;
				padding-bottom: 60px;
				padding-top: 60px;
				place-content: center;

				article {
					width: 370px;
				}

				.post .post-card--thumb,
				.post .post-card--content {
					padding-right: 0;
					//width: 370px;
				}
			}
			@import "./../7-parts/p-pagination";
		}
	}
}
