@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
@use "./../7-parts/p-filter-posts";
@import "./../3-components/fonts.scss";


.tax-midia {
	#app {
		.index-wrapper {
			.container {
				.row {
					.termo-nome {
						font-family: $f_title;
						font-size: 32px;
						font-weight: 700;
						color: #ed2439;
						padding: 0 15px;
					}
					.col-md-12 {
						padding-bottom: 60px;
						padding-top: 40px;
						border-top: 2px solid #666;
						display: grid;
						width: 100%;
						grid-template-columns: 1fr 1fr 1fr 1fr;

						@media (max-width: 768px) {
							grid-template-columns: 1fr 1fr;
							gap: 25px;
						}

						@include mixins.small {
							grid-template-columns: 1fr;
						}
						.post-card {
							&--thumb {
								.aspect-ratio {
									height: 270px;
									img {
										height: 270px;
									}
								}
							}
							&--content {
								.entry-title {
									text-align: center;
									font-family: $f_title;
									font-size: 13px;
									font-weight: 700;
									line-height: 150%;
									text-transform: uppercase;
									a {
										color: #282829;
										text-decoration: none;
									}
								}
								.entry-date {
									display: none;
								}
							}
						}
						.link-download {
							display: none;
						}
						.modal {
							display: none;
							position: fixed;
							z-index: 9999;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background: rgba(102, 102, 102, 0.7);
						}
						.modal-content {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background-color: #fefefe;
							padding: 20px;
							text-align: center;
							display: flex;
							flex-direction: column;
							border-radius: 12px;
						}

						#modal-title {
							font-family: $f_title;
							font-size: 32px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
							text-align: left;
							margin-bottom: 10px;
							margin-top: 0;
							display: flex;
							max-width: 330px;
							width: 100%;
							flex-wrap: wrap;
							@media (max-width: 1320px) {
								font-size: 24px;
								max-width: 230px;
							}
						}

						#modal-image {
							margin-bottom: 25px;
							margin-top: 0;
							width: 330px;
							height: 330px;
							@media (max-width: 1320px) {
								width: 230px;
								height: 230px;
							}
						}

						#modal-btn {
							border-radius: 64px;
							background-color: #00a62d;
							color: var(--High-Pure, #fff);
							font-family: $f_title;
							font-size: 18px;
							font-weight: 700;
							line-height: 120%;
							text-align: center;
							padding: 16px 24px;
							width: 90%;

							margin-bottom: 15px;
							margin-left: auto;
							margin-right: auto;
						}

						// palavra "Compartilhe e div de links das redes escondidos"

						p {
							display: none;
							// font-family: 'Open Sans';
							// font-size: 12px;
							// text-align: center;
							// color: #000;
						}

						.social-menu {
							display: none;
							// display: flex;
							// max-width: 80%;
							// justify-content: space-around;
						}

						.close {
							color: #aaa;
							text-align: right;
							font-size: 28px;
							font-weight: bold;
						}
					}
					.hacklab-post-meta-block {
						display: none;
					}
				}
			}

			nav.pagination.pagination {
				.nav-links span.current {
					color: #fff;
					border-color: var(--wp--preset--color--vermelho-comite) !important;
					background-color: var(--wp--preset--color--vermelho-comite) !important;
					border-radius: 4px;
				}

				a {
					text-decoration: none;
				}

				.nav-links a.prev svg path,
				.nav-links a.next svg path,
				.nav-links a:visited {
					color: #000;
					border-color: #000;
				}
			}
		}
	}
	@import "./../7-parts/p-content-post";
}
